{:deps true
 :builds
 {:app
  {:target :browser
   :output-dir "docs/js"
   :asset-path "js"
   :compiler-options {:optimizations :simple}
   :modules {:main {:entries [kotoba.cad.app]}}
   :devtools {:http-root "docs" :http-port 8765}}}}
